.fileUpload {
  margin: 10px;
  padding: 10px;
  border: solid 1px grey;
  min-height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fileInput {
  font-size: 10px;
  width: 600;
}

.submitButton {
  margin: 10px;
  padding: 10px;
}

.imgPreview {
  height: 30vh;
}

.img {
  object-fit: cover;
  height: 100%;
}

.previewText {
  height: 100%;
  text-align: center;
}
